*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #181c34;
}
.container{

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;

}

.container h1{
    margin-bottom: 20px;
    font-family: arial;
    margin-top: 20px;
}

input{
    width: 300px;
    height: 25px;
    padding: 4px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.label1 {
 font-family: arial;
 color: grey;
 width: 310px;
text-align: left;
margin-bottom: 10px;

}

button{
    width: 310px;
    padding: 10px;
    border: none;
    background-color: #0c4479;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

button:hover{
    background-color: #0758a3;
}

.check{
    width: 15px;
    margin-right: 10px;
}

.container-bottom{
    display:flex;
    justify-content: start;
    align-items: center;
 
    width: 310px;
    font-family: arial;
}

.container-bottom p{
    margin-bottom: 20px;
    color: grey;
}


